{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for entity in entities %}
            <li>
                <a href="{{ path('app_default_edit', { id: entity.id }) }}">{{ entity }}</a><br>

                <p>{{ entity.body }}</p>
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ path('app_default_new') }}">New post</a>
    </p>


    <h2>Pending</h2>

    <ul>
        {% for entity in pending %}
            <li>
                {{ entity }}

                <p>{{ entity.body }}</p>

                <p>
                    <a href="{{ path('app_default_approve', { id: entity.id }) }}">Aprovar</a><br>
                </p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

