{% extends 'base.html.twig' %}

{% block body %}

    <h1>Books</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        <button type="submit">ok</button>
    {{ form_end(form) }}

{% endblock %}

