{% extends 'base.html.twig' %}

{% block body %}

    <h1>Books</h1>

    <p>
        <a href="{{ path('new_book') }}">New Book</a>
    </p>

    <table cellpadding=4px>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('edit_book', { id: entity.id }) }}">edit</a>
                </td>
                <td>
                    <a href="{{ path('show_book', { id: entity.id }) }}">show</a>
                </td>
                <td>{{ entity }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

