{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        Book
        <small>{{ entity }}</small>
    </h1>

    <h2>Versions</h2>

    {% for version in entity.versions %}
        {{ dump(version) }}
    {% endfor %}

    {% if entity.versions.last.status != 'approved' %}
        <a href="{{ path('approve_book', { id: entity.id }) }}">approve</a>
    {% endif %}
{% endblock %}

